@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Sovrascrivi i colori di default di Bootstrap
$primary: #3D5AFE;
$success: #81C784;
$danger: #E57373;
$warning: #FFF9C4;
$dark: #212529;
$secondary: #f5eeaf;

// Colori aggiuntivi personalizzati
$custom-yellow: #FFF9C4;
$custom-text: #333333;

// i nuovi colori aggiunti alla mappa dei colori di Bootstrap
$theme-colors: (
  "primary": $primary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "dark": $dark,
  "secondary": $secondary,
);

// Importa il resto di Bootstrap
@import "~bootstrap/scss/bootstrap";
