html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  width: 100%;
}

.event-carousel-wrapper {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__month-view__weekdays {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.react-calendar__tile {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.react-calendar__tile--now {
  background-color: #ffeb3b;
}

.react-calendar__tile--active {
  background-color: #37da05 !important;
  color: white !important;
  border: 2px solid #20ff02 !important;
}

.react-calendar__tile:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}


