.react-calendar .highlight {
  background-color: #4caf50;
  color: white;
}

.react-calendar {
  font-size: 2rem;
}

.react-calendar .selected-day {
  background-color: #37da05 !important;
  color: white !important;
  border: 2px solid #20ff02 !important;
}

.react-calendar .react-calendar__tile:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
